//
//  Config.xcconfig
//  fall-detector
//
//  Created by Harry Wixley on 21/02/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TWILIO_ACCOUNT_SID = ACf1c1c979d7c009fb3325717be1122dd8
TWILIO_AUTH_TOKEN = ce233995e26eb686612a7d058f4edc6c
