<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652385683245-2dibgnrev206thdad5dhgtfpu42vr0fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652385683245-2dibgnrev206thdad5dhgtfpu42vr0fc</string>
	<key>API_KEY</key>
	<string>AIzaSyDCMXFb90l8_enJLIJUOx9JtnHJo8A9gNg</string>
	<key>GCM_SENDER_ID</key>
	<string>652385683245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ug4-honours-project.fall-detector</string>
	<key>PROJECT_ID</key>
	<string>fall-detector-59719</string>
	<key>STORAGE_BUCKET</key>
	<string>fall-detector-59719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:652385683245:ios:50e92389a91ba202d8f5a4</string>
</dict>
</plist>
