<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TWILIO_AUTH_TOKEN</key>
	<string>$(TWILIO_AUTH_TOKEN)</string>
	<key>TWILIO_SID</key>
	<string>$(TWILIO_ACCOUNT_SID)</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is required to connect to the Polar H10 heart rate sensor to retrieve data for fall detection</string>
</dict>
</plist>
